
footer  {background-color:   lightgray;
        font-family: century gothic;}

header  {background-color: lightgray ;
         font-family: Century Gothic ;}

#grijs {color: grey;}

#txtfooter{color: grey}

#logo {color: rgb(121, 121, 121)}

#txtnavact {color: lightgrey;
                background-color:rgb(121, 121, 121);}

#txtnavinact{color: grey;}

#positie{margin-left: 5%;
        margin-right: 5%;
         margin-top: 50px;
        margin-bottom: 50px;}

#link{ color: black;}

#taalnav{ color: grey;}

